
.adam-obeng .participant-image {
    background: url("../../images/participants/adam-obeng.png") no-repeat;
background-size: cover; }


.akitaka-matsuo .participant-image {
    background: url("../../images/participants/akitaka-matsuo.png") no-repeat;
background-size: cover; }


.andreas-mueller .participant-image {
    background: url("../../images/participants/andreas-mueller.jpg") no-repeat;
background-size: cover; }


.arthur-spirling .participant-image {
    background: url("../../images/participants/arthur-spirling.jpg") no-repeat;
background-size: cover; }


.ben-schmidt .participant-image {
    background: url("../../images/participants/ben-schmidt.jpg") no-repeat;
background-size: cover; }


.blank .participant-image {
    background: url("../../images/participants/blank.png") no-repeat;
background-size: cover; }


.brandon-stewart .participant-image {
    background: url("../../images/participants/brandon-stewart.jpg") no-repeat;
background-size: cover; }


.bryce-dietrich .participant-image {
    background: url("../../images/participants/bryce-dietrich.jpg") no-repeat;
background-size: cover; }


.david-mimno .participant-image {
    background: url("../../images/participants/david-mimno.jpg") no-repeat;
background-size: cover; }


.dmitriy-selivanov .participant-image {
    background: url("../../images/participants/dmitriy-selivanov.jpg") no-repeat;
background-size: cover; }


.fernandez-granda-carlos .participant-image {
    background: url("../../images/participants/fernandez-granda-carlos.jpg") no-repeat;
background-size: cover; }


.haiyan-wang .participant-image {
    background: url("../../images/participants/haiyan-wang.jpg") no-repeat;
background-size: cover; }


.heewon-jeon .participant-image {
    background: url("../../images/participants/heewon-jeon.jpg") no-repeat;
background-size: cover; }


.ines-montani .participant-image {
    background: url("../../images/participants/ines-montani.jpg") no-repeat;
background-size: cover; }


.ingo-feinerer .participant-image {
    background: url("../../images/participants/ingo-feinerer.png") no-repeat;
background-size: cover; }


.james-bradbury .participant-image {
    background: url("../../images/participants/james-bradbury.jpg") no-repeat;
background-size: cover; }


.jeroen-ooms .participant-image {
    background: url("../../images/participants/jeroen-ooms.jpg") no-repeat;
background-size: cover; }


.jose-atria .participant-image {
    background: url("../../images/participants/jose-atria.jpg") no-repeat;
background-size: cover; }


.kasper-welbers .participant-image {
    background: url("../../images/participants/kasper-welbers.jpg") no-repeat;
background-size: cover; }


.ken-benoit .participant-image {
    background: url("../../images/participants/ken-benoit.jpg") no-repeat;
background-size: cover; }


.kevin-munger .participant-image {
    background: url("../../images/participants/kevin-munger.jpg") no-repeat;
background-size: cover; }


.kohei-watanabe .participant-image {
    background: url("../../images/participants/kohei-watanabe.png") no-repeat;
background-size: cover; }


.kyunghyun-cho .participant-image {
    background: url("../../images/participants/kyunghyun-cho.jpg") no-repeat;
background-size: cover; }


.lincoln-mullen .participant-image {
    background: url("../../images/participants/lincoln-mullen.jpg") no-repeat;
background-size: cover; }


.marek-gagolewski .participant-image {
    background: url("../../images/participants/marek-gagolewski.jpg") no-repeat;
background-size: cover; }


.marek-gagolewski .participant-image {
    background: url("../../images/participants/marek-gagolewski.png") no-repeat;
background-size: cover; }


.matt-denny .participant-image {
    background: url("../../images/participants/matt-denny.jpg") no-repeat;
background-size: cover; }


.matthew-honnibal .participant-image {
    background: url("../../images/participants/matthew-honnibal.png") no-repeat;
background-size: cover; }


.meik-michalke .participant-image {
    background: url("../../images/participants/meik-michalke.png") no-repeat;
background-size: cover; }


.pablo-barbera .participant-image {
    background: url("../../images/participants/pablo-barbera.jpg") no-repeat;
background-size: cover; }


.patrick-perry .participant-image {
    background: url("../../images/participants/patrick-perry.jpg") no-repeat;
background-size: cover; }


.paul-nulty .participant-image {
    background: url("../../images/participants/paul-nulty.jpg") no-repeat;
background-size: cover; }


.sam-bowman .participant-image {
    background: url("../../images/participants/sam-bowman.jpg") no-repeat;
background-size: cover; }


.sasha-goodman .participant-image {
    background: url("../../images/participants/sasha-goodman.jpg") no-repeat;
background-size: cover; }


.sebastian-barfort .participant-image {
    background: url("../../images/participants/sebastian-barfort.jpg") no-repeat;
background-size: cover; }


.taylor-arnold .participant-image {
    background: url("../../images/participants/taylor-arnold.jpg") no-repeat;
background-size: cover; }


.thomas-leeper .participant-image {
    background: url("../../images/participants/thomas-leeper.jpg") no-repeat;
background-size: cover; }


.tyler-rinker .participant-image {
    background: url("../../images/participants/tyler-rinker.png") no-repeat;
background-size: cover; }


.will-lowe .participant-image {
    background: url("../../images/participants/will-lowe.jpg") no-repeat;
background-size: cover; }

